property_rental_watch.code-workspace
start_venv.sh
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
__pycache__/

prod.env
test.env
server.txt
build_prod.sh
build_test.sh
run_prod.sh
run_test.sh
