<!-- prettier-ignore -->
{% extends 'index.html' %}

{% load i18n %}

{% block content %}
{% if messages %}
<section>
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}

<section>
    <header>
        <h2>
            <a
                href="{% url 'addresses:address_detail' pk=address.pk %}"
                class="tw_main_nav_a"
            >
                {{ address }}
            </a>
        </h2>
    </header>

    <ul class="tw-my-8">
        <li>{% translate 'Title:' %} {{ object.title }}</li>
        <li>{% translate 'Description:' %} {{ object.desc }}</li>
        <li>{% translate 'Rating:' %} {{ object.rating }}</li>
    </ul>
</section>
{% endblock %}
