<!DOCTYPE html>

<!-- prettier-ignore -->
{% load static compress i18n %} 
{% translate 'Property Rental Watch' as title %}
{% translate 'Submit' as button_submit %}
{% translate 'Add review' as add_review %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="description"
            content="{% translate 'Want to find out how previous tenants rated their experience in your new property? Find out here!' %}"
        />
        <meta
            name="keywords"
            content="{% translate 'property, rental, review, rate, landlord, estate agents, experience' %}"
        />
        <meta name="author" content="Ged Kirkham" />
        <meta name="copyright" content="Ged Kirkham" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{{ title }}</title>

        {% compress css %}
        <link
            rel="stylesheet"
            href="{% static 'css/styles.css' %}"
            type="text/css"
        />
        <link
            rel="stylesheet"
            href="{% static 'css/master.css' %}"
            type="text/css"
        />
        {% endcompress %}
    </head>

    <body
        class="tw-container tw-mx-auto tw-bg-warmGray-100 tw-w-11/12 sm:tw-w-full"
    >
        <header class="header">
            <nav class="tw-mt-8">
                <ul
                    class="tw-text-4xl tw-flex tw-justify-between tw-items-baseline tw-space-x-12"
                >
                    <li class="tw-font-bold">
                        <h1 class="tw-text-center">
                            <a class="tw_main_nav_a" href="{% url 'home' %}">
                                {{ title }}
                            </a>
                        </h1>
                    </li>
                </ul>
            </nav>

            <h2>
                <!-- prettier-ignore -->
                {% translate 'Good or bad rental experience? Let others know by leaving a review' %}
            </h2>
        </header>

        <main class="main tw-mt-8">
            <!-- prettier-ignore -->
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>
