{% extends 'base.html' %}

{% block content %}
<section class="tw-mx-auto tw-h-full tw-flex tw-flex-col tw-items-center tw-justify-center">
    <header>
        <h1 class="tw-text-5xl">
            Search for your address
        </h1>
    </header>

    {% comment %} needed for JS/GoogleMaps lookup {% endcomment %}
    {{ form.media }}

    <form method="POST" class="tw-py-12 tw-flex tw-flex-col tw-space-y-4">
        {% csrf_token %}
        {{ form }}

        <button type="submit" class="tw_neutral_button tw_button_anchor">
            REVIEW
        </button>
    </form>
</section>
{% endblock %}