<!-- prettier-ignore -->
{% extends 'index.html' %}

{% load i18n %}

{% translate 'ADD REVIEW' as add_review %}

{% block content %}
<section>
    <header>
        <h2>{{ object }}</h2>
    </header>

    <section class="tw-my-8">
        <header>
            <h3>{% translate 'Stats:' %}</h3>
        </header>

        <ul>
            <li>
                {% translate 'Average rating:' %} {{
                average_rating.rating__avg|floatformat }}
            </li>
            <li>{% translate 'Reviews:' %} {{ reviews.count }}</li>
        </ul>
    </section>

    <button class="tw-my-2 tw_neutral_button">
        <a
            class="tw_button_anchor"
            href="{% url 'reviews:review_create' %}?addr={{object.id}}"
        >
            {{ add_review }}
        </a>
    </button>

    <section class="tw-my-8">
        <header>
            <h3>{% translate 'Reviews:' %}</h3>
        </header>

        <ol class="tw-my-4 tw-space-y-4 tw-list-decimal tw-list-inside">
            {% for review in reviews %}
            <li data-counter="review">
                <a
                    href="{% url 'reviews:review_detail' pk=review.pk %}"
                    class="tw_main_nav_a"
                >
                    {% translate 'Title:' %} {{ review.title }}
                </a>
                <div>{% translate 'Rating:' %} {{ review.rating }}</div>
                <div>{% translate 'Date:' %} {{ review.created }}</div>
            </li>
            {% endfor %}
        </ol>

        <button class="tw-my-2 tw_neutral_button">
            <a
                class="tw_button_anchor"
                href="{% url 'reviews:review_create' %}?addr={{object.id}}"
            >
                {{ add_review }}
            </a>
        </button>
    </section>
</section>
{% endblock %}
